
# Environment
ENV=development
DEBUG=true

# CORS
CORS_ALLOW_ORIGINS=["http://localhost:3000"]

# Storage
USE_CLOUDINARY=false
CLOUDINARY_CLOUD_NAME=dgmuelujl
CLOUDINARY_API_KEY=192866236638842
CLOUDINARY_API_SECRET=b8F8MHjAKUnHiWCU6JzhVRLaxBc
LOCAL_UPLOAD_DIR=backend/uploads

# Gemini
GEMINI_API_KEY=AIzaSyBDlxCp8HV9rLClMK08RE1OSBOHYC-OKbY
GEMINI_API_BASE_URL=https://generativelanguage.googleapis.com/v1beta
GEMINI_MODEL_NAME=models/gemini-2.5-flash
GEMINI_IMAGE_MODEL_NAME=models/gemini-2.5-flash

# Platform rules
PLATFORM_RULES_VERSION=2026-03

